---
- import_tasks: update-cache.yml
- import_tasks: install-4-redhat-yum.yml
- import_tasks: install-4-suse-zypper.yml

# https://snapcraft.io/docs/installing-snapd
# TODO. TEST for https://snapcraft.io/docs/installing-snap-on-solus, https://snapcraft.io/docs/installing-snap-on-manjaro-linux, https://snapcraft.io/docs/installing-snap-on-kali
- name: Install snapd 4 any Linux distros
  when:
    - ansible_system == 'Linux'
    - not (ansible_pkg_mgr == 'yum')
  become: yes
  package:
    name:
      - snapd
    state: present
  notify:
    - start-snapd-socket
    - start-snapd-apparmor
  tags:
    - linux
    - snap
    - install
    - debian
    - ubuntu
    - deb

- name: Enable and start snapd service 4 any Linux distros
  when:
    - ansible_system == 'Linux'
    - ansible_virtualization_type != 'docker'
  become: yes
  service:
    name: snapd
    state: started
    enabled: yes
  tags:
    - linux
    - snap
    - service

- name: Get status about /snap 4 any Linux distros
  when:
    - ansible_system == 'Linux'
  become: yes
  stat:
    path: /snap
  register: root_snap_present
  tags:
    - linux
    - snap
    - symlink
    - ln

# https://snapcraft.io/docs/installing-snap-on-red-hat
- name: Create snapd symlink 4 any Linux distros
  when:
    - ansible_system == 'Linux'
    - root_snap_present.stat.exists == 'false'
  become: yes
  file:
    src: /var/lib/snapd/snap
    dest: /snap
    state: link
  tags:
    - linux
    - snap
    - symlink
    - ln
