---
# https://rtfm.co.ua/circleci-obzor-continuous-integration-servisa/
# https://circleci.com/orbs/registry/orb/orbss/ansible-ssh#commands-ansible-playbook
version: 2
jobs:
  build:
    docker:
      - image: williamyeh/ansible:debian9
    resource_class: small
    steps:
      - checkout
      - run: 
          name: Ansible run test
          command: |
            pwd
            cd /
            pwd
            mkdir -p /root/.ansible/roles
            mv /root/project /root/.ansible/roles/ansible-role-install-snap
            ls -l /root/.ansible/roles/
            cd /root/.ansible/roles/ansible-role-install-snap
            #  ansible-playbook --inventory tests/inventory tests/test.yml
            ansible-playbook -i "localhost," -c local tests/test.yml
